body {
	background: #002B36;
	padding: 20px 50px;
	margin: 0px;
	font-family: Helvetica Neue, Arial, sans-serif;
}

/* table layout */

td {
	vertical-align: top
}

table {
	width: 100%
}

#column1 {
	width: 30px;
}

#column3 {
	width: 200px;
}

/* textarea */

textarea {
	background: transparent;
	border: 0px;
	color: #fff;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: monospace;
	outline: none;
	resize: none;
	font-size: 13px;
}

/* input */

input {
	background: #073642;
	border: 0;
	color: #fff;
	padding: 2px;
	font-family: monospace;
	outline: none;
	resize: none;
	width: 100%;
	font-size: 13px;
}

/* Documents */

#documents {
}

#documents div {
  color: #7d7d7d;
	font-size: 13px;
	padding-bottom: 2px;
	cursor: pointer;
}

/* the line numbers */

#linenos {
  color: #7d7d7d;
	left: 0px;
	width: 30px; /* 30 to get 20 away from box */
	font-size: 13px;
	font-family: monospace;
	text-align: right;
}

/* title */

#title {
	padding: 0px;
	margin: 0px;
	width: 100%;
	border: 0px;
	outline: none;
	font-size: 13px;
	padding-right: 360px;
}

#title code {
	padding: 0px;
	background: transparent !important; /* don't hide hastebox */
}

/* code box when locked */

#box {
	padding: 0px;
	margin: 0px;
	width: 90%;
	border: 0px;
	outline: none;
	font-size: 13px;
}

#box code {
	padding: 0px;
	background: transparent !important; /* don't hide hastebox */
}

#box1 {
	padding: 5px;
	text-align: center;
	background: #00222b;
}

#box2 {
  color: #92a0a0;
	font-size: 13px;
	padding: 0px;
	cursor: pointer;
}

#box2 .function {
}

#box2 .link embed {
	vertical-align: bottom; /* fix for zeroClipboard style */
}

#box3, #messages li {
	background: #173e48;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	padding: 10px 15px;
}

#box3 .label, #messages li {
	color: #fff;
	font-weight: bold;
}

#box3 .shortcut {
	color: #c4dce3;
	font-weight: normal;
}

#box2 .function.save { color: #7d7d7d; }
#box2 .function.enabled.save { color: #92a0a0; }

#box2 .function.new { color: #7d7d7d; }
#box2 .function.enabled.new { color: #92a0a0; }

#box2 .function.duplicate { color: #7d7d7d; }
#box2 .function.enabled.duplicate { color: #92a0a0; }

#box2 .function.raw { color: #7d7d7d; }
#box2 .function.enabled.raw { color: #92a0a0; }

#messages {
	position:fixed;
	top:0px;
	right:138px;
	margin:0;
	padding:0;
	width:400px;
}

#messages li {
	background:rgba(23,62,72,0.8);
	margin:0 auto;
	list-style:none;
}

#messages li.error {
	background:rgba(102,8,0,0.8);
}
